<div class="bg-[#ebebeb] p-4 px-6">
  <p class="text-2xl mb-6 text-gray-700 font-medium">Portada actual</p>
  <div class="w-auto flex justify-center">
    <img
      src="{{ image }}"
      alt=""
      class="border-4 border-gray-400 w-[545px] h-[300px] object-cover"
      #imageContainer
    />
  </div>
  <p class="text-center mt-3 text-gray-400">
    {{ imageWidth }} x {{ imageHeight }} px
  </p>
  <div class="w-full flex justify-center">
    <button
      class="bg-[#b9a973] px-16 py-3 text-white rounded mt-10 hover:bg-[#AD9E6A]"
    >
      Gurdar cambios
    </button>
  </div>
</div>
