<app-navbar></app-navbar>
<div class="lg:flex m-6">
  <app-front-page class="lg:w-1/3 w-full"></app-front-page>
  <div class="lg:w-2/3 lg:ml-8 w-full mr-8 lg:m-0">
    <app-change-front-page></app-change-front-page>
    <div class="bg-gray-300 h-[1px] min-w-full my-6"></div>
    <app-searchbar
      [images]="images"
      (newImages)="updateImages($event)"
    ></app-searchbar>
    <div class="bg-gray-300 h-[1px] min-w-full my-4 mt-8"></div>
    <app-cards [images]="images"></app-cards>
  </div>
</div>
