<div>
  <h4 class="text-2xl mb-3 mt-4 text-gray-700 font-medium">Cambiar portada</h4>
  <p class="text-gray-600 font-medium">
    Puede subir una imagen nueva de portada
  </p>
  <button
    class="bg-[#b9a973] flex items-center justify-center px-2 py-3 pr-16 text-white rounded mt-4 hover:bg-[#AD9E6A]"
  >
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/OOjs_UI_icon_upload.svg/2048px-OOjs_UI_icon_upload.svg.png"
      alt=""
      class="invert h-6 mr-8"
    />
    <span>Subir portada</span>
  </button>
</div>
